.entry-title {
  margin-bottom: 0;
  text-transform: capitalize;

  a {
    color: $color__brand-one;
    text-decoration: none;
  }
}

.entry-meta {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: $color__brand-three;
}

.entry-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.read-more {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: $color__brand-one;
  text-decoration: none;

  &:hover {
    color: $color__brand-two;
    text-decoration: underline;
  }

  &:visited {
    color: $color__brand-one;
    text-decoration: underline;
  }
}

/* ------------------
Blog Archive page
---------------------*/

.blog-archive {

  .entry-title {
    margin: 0;
  }
}
