/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}

.page-header {
	text-align: center;
}

.tagline {
	text-align: center;
	margin: 0 0 3rem 0;
}

/* -------
call to action
------- */

.cta {
	background-color: #fafafa;
	border: 1px solid #e1e1e1;
	padding: 0.75rem 2rem;
	margin-bottom: 6rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	p {
		align-self: center;
	}
}

/* -------
section divider decoration
------- */

.section-decoration {
	display: flex;
	flex-direction: column;
	margin: 2rem 0 3rem;

	.rule {
		width: 20rem;
		border-bottom: 1px solid #e1e1e1;
		align-self: center;
		display: flex;
		justify-content: center;
		position: relative;
	}

	.dot {
		background-color: #e1e1e1;
		width: 0.85rem;
		height: 0.85rem;
		border-radius: 50%;
		position: absolute;
		top: -6px;
	}
}
