footer {
  background-color: $color__brand-six;
  margin-top: 4rem;

  .footer-contact {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  .contact-info {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    align-self: center;

    .contact-header {
      font-size: 1.15rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $color__brand-four;
    }

    p {
      margin: 0.3rem;

      i {
        margin-right: 0.25rem;
      }
    }

    .social-icons-footer {
      font-size: 1.3rem;

      a {
        color: #fff;
        outline: none;
        margin-right: 0.25rem;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .logo-footer {
    width: 16rem;
    align-self: center;
  }

  .copyright {
    font-size: 0.75rem;
    font-weight: normal;
    color: #fff;
    background-color: $color__brand-five;
    text-align: center;
    padding: 1.5rem 0;
  }
}
