.site-header {
  width: 100%;
  padding-top: 2rem;
  background-color: #fafafa;
  box-shadow: 0 2px 3px 0 rgba(150, 150, 150, 0.25);
  overflow: auto;
}

.site-branding {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.site-branding-inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 18rem;
  padding: 2rem 0
}

.site-description {
  display: none;
}

.social-icon {
  align-self: center;
  height: 1rem;

  li {
    display: inline;
    list-style: none;
    margin: 0 0.75rem;

    a {
      color: $color__brand-four;
    }
  }
}
