/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.hero-unit {
  background: url('../../images/hero-bread.jpg');
	background-size: cover;
  margin-top: 43px;
  height: 550px;
  display: flex;
  justify-content: center;
}

.hero-text {
  font-family: 'Overlock', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 1px 2px rgba(100, 100, 100, 0.75);
  align-self: center;
}

/* -------
testimonials
------- */

.test-header {
  display: flex;
  flex-direction: column;

.divider {
  width: 20rem;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.dot {
  background-color: #e1e1e1;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  position: absolute;
  top: -6px;
}
}

.testimonials {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .single-test {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    flex: 1 0 50%;
    border-bottom: 1px dashed #d2d2d2;
    border-right: 1px dashed #d2d2d2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .test-headshot-one {
    background: no-repeat top/100px url('../../images/dr-dosist-headshot.png');
    background-size: contain;
    width: 18.75rem;
    margin-right: 2rem;
  }

  .test-headshot-two {
    background: no-repeat top/100px url('../../images/maxi-milli-headshot.png');
    background-size: contain;
    width: 18.75rem;
    margin-right: 2rem;
  }

  .test-headshot-three {
    background: no-repeat top/100px url('../../images/ana-vandana-headshot.png');
    background-size: contain;
    width: 18.75rem;
    margin-right: 2rem;
  }

  .test-headshot-four {
    background: no-repeat top/100px url('../../images/martha-m-masters-headshot.png');
    background-size: contain;
    width: 18.75rem;
    margin-right: 2rem;
  }

  .test-content {
    margin-top: 0;
  }

  .test-name {
    font-weight: bold;
    margin-bottom: 0;
  }

  .test-title {
    margin-top: 0;

    a {
      color: $color__brand-one;
      text-decoration: none;
    }
  }
}
