/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.day-of-week {
	margin: 0.15rem 0;

	span {
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		font-weight: bold;
		color: $color__brand_one;
	}
}
